In [6]:
import pandas as pd
import numpy as np

# Load CSV files
customers = pd.read_csv("Customer_Info.csv")
transactions = pd.read_csv("Transactions.csv")

In [7]:
# 1. Remove duplicates
customers = customers.drop_duplicates()
transactions = transactions.drop_duplicates()

In [8]:
# 2. Replace Customer_ID with numeric IDs
customers["Customer_ID"] = customers["Customer_ID"].str.replace("C", "").astype(int)
transactions["Customer_ID"] = transactions["Customer_ID"].str.replace("C", "").astype(int)

In [10]:
# 3. Format phone numbers & fill missing loyalty points
customers["Phone_Number"] = customers["Phone_Number"].astype(str)

avg_loyalty = customers["Loyalty_Points"].mean()
customers["Loyalty_Points"].fillna(avg_loyalty)

0    120.0
1    230.0
2    310.0
3      0.0
4    150.0
6    162.0
Name: Loyalty_Points, dtype: float64

In [11]:
# 4. Check for negative quantities or invalid payment methods
invalid_quantity = transactions[transactions["Quantity"] < 0]
valid_methods = ["Credit Card", "Cash", "UPI"]
invalid_payment = transactions[~transactions["Payment_Method"].isin(valid_methods)]

In [12]:
# 5. Create Total_Amount column
transactions["Total_Amount"] = transactions["Quantity"] * transactions["Price_Per_Unit"]

In [13]:
# 6. Aggregate total purchase per customer
total_purchase = transactions.groupby("Customer_ID")["Total_Amount"].sum()

In [14]:
print("Cleaned Customers:\n", customers)
print("\nTransactions with Total:\n", transactions)
print("\nTotal Purchase per Customer:\n", total_purchase)

Cleaned Customers:
    Customer_ID         Name Phone_Number            Address Gender  \
0            1   Alice John   9876543210    23, Park Street      F
1            2    Bob Smith   9876543210     45, Green Road      M
2            3  Carol Jones   8765432109     78, Oak Avenue      F
3            4   Dave Adams   1234567890   12, Maple Street      M
4            5   Eve Watson   7654321098    56, Pine Avenue      F
6            6  Frank Clark   6789012345  34, Willow Street      M

          DOB  Loyalty_Points
0  1995-03-21           120.0
1  1990-08-15           230.0
2  1988-11-02           310.0
3  1992-05-30             0.0
4  1993-09-19           150.0
6  1985-07-14           162.0

Transactions with Total:
   Transaction_ID  Customer_ID     Product  Quantity  Price_Per_Unit  \
0          T1001            1      Laptop         1           80000
1          T1002            2       Phone         2           25000
2          T1003            3      Tablet         1           30000
3          T1004            4  Headphones         3            5000
4          T1005            2       Phone         1           25000
5          T1006            5      Laptop         1           80000
6          T1007            6  Smartwatch         2           15000

         Date Payment_Method  Total_Amount
0  2024-01-15    Credit Card         80000
1  2024-01-17           Cash         50000
2  2024-01-18            UPI         30000
3  2024-01-20    Credit Card         15000
4  2024-01-25           Cash         25000
5  2024-01-28    Credit Card         80000
6  2024-01-30            UPI         30000

Total Purchase per Customer:
 Customer_ID
1    80000
2    75000
3    30000
4    15000
5    80000
6    30000
Name: Total_Amount, dtype: int64